spring:
  application:
    name: docker-model-runner

  ai:
    openai:
      base-url: http://localhost:11434
      api-key: dummy-key

      chat:
        enabled: true
        options:
          model: llama3

      embedding:
        enabled: false
      image:
        enabled: false
      audio:
        enabled: false