# =======================================
# Java build files
# =======================================
*.class
*.war
*.ear

# =======================================
# Eclipse specific
# =======================================
.project
.classpath
.settings/
.metadata/
bin/
tmp/

# =======================================
# IntelliJ IDEA specific
# =======================================
.idea/
*.iml
out/

# =======================================
# Maven / Gradle build outputs
# =======================================
target/
build/

# =======================================
# Tomcat / Server runtime files
# =======================================
logs/
work/
temp/

# =======================================
# OS-specific files
# =======================================
.DS_Store
Thumbs.db
