apiVersion: v1
kind: PersistentVolume
metadata:
  name: quiz-reports-pv
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/quiz-reports" # <--- Files will live HERE on your machine
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: quiz-reports-pvc
  namespace: basicapp
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
