server:
  port: 8084

spring:
  application:
    name: user-service

  config:
    import: optional:configserver:http://localhost:8888

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    registerWithEureka: true
    fetchRegistry: true

  instance:
    preferIpAddress: true
