spring:
  application:
    name: "help-desk-backend"

  datasource:
    url: jdbc:mysql://localhost:3306/spring_ai_yt?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  ai:
    openai:
      api-key: ${GROQ_API_KEY}
      base-url: https://api.groq.com/openai
      chat:
        options:
          model: llama-3.1-8b-instant

    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always

  profiles:
    active: dev

server:
  port: 8081

logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG

another:
  student: true
